body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #f74c4c;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.banner {
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px 20px;
}

.toko, .store {
    padding: 20px;
}

.tokos h2, .store h2 {
    text-align: center;
}

.toko {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    width: calc(33% - 40px);
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toko img {
    max-width: 30%;
}

button {
    background-color: #f74c4c;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.small-image {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    border: 2px solid #000; 
}

button:hover {
    background-color: #d43e3e;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f74c4c;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40%;
    max-width: 50px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #000;
}

.about {
    text-align: center;
}
